.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto !important;

  :global .ant-form {
    &-item { margin-bottom: 0 }
  }
  
  > * { width: 100% }
  > button {
    width: 40%;
    margin-top: 20px;
  }
  .uploader {
    :global .ant-upload {
      height: 180px;
    }
  }

  @media (max-width: 768px) {
    width: 100% !important;

    > button {
      width: 90%;
    }
  }
  @media (max-width: 462px) {
    width: 90% !important;

    > button {
      width: 90%;
    }
  }
}
