.layout {
  min-height: 100% !important;

  .content {
    flex: 1 !important;
    padding: 50px;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 460px) {
    .content { padding: 40px 0 }
  }
}
